@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1> INEQ </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2> INEQ </h2>
        <p>
            INEQ (Sistema de Inventario de Equipos) es un sitio
            que permite llevar a cabo control sobre marcas de 
            equipos de cómputo.
        </p>
    </div>
    <div class="col-md-4">
        <h2> Garantía </h2>
        <p> Servicio de calidad y compromiso continuo ante el cliente y usuario. </p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Visítanos </h2>
        <p> Puedes mantenerte en contacto con nosotros vía en Facebook </p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>